<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>KOKServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>musicinfoservlet</servlet-name>
    <servlet-class>com.kok.login.servlet.MusicInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>musicinfoservlet</servlet-name>
    <url-pattern>/musicinfoservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>musicsetinfoservlet</servlet-name>
    <servlet-class>com.kok.login.servlet.MusicSetInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>musicsetinfoservlet</servlet-name>
    <url-pattern>/musicsetinfoservlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>artistinfo</servlet-name>
    <servlet-class>com.kok.login.servlet.ArtistInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>artistinfo</servlet-name>
    <url-pattern>/artistinfo</url-pattern>
  </servlet-mapping>
</web-app>